@tailwind base;
@tailwind components;
@tailwind utilities;
/*  */

body {
  @apply bg-gradient-to-b from-[#1B192E] to-[#25233A] text-white overflow-x-hidden min-h-screen;
}
header {
  @apply bg-inherit;
}

/* Prevent scrolling when the purple div is visible */
.device-desktop-body {
  overflow: hidden;
}

p {
  @apply font-light;
}

.addToolInput {
  @apply w-full p-2 rounded bg-transparent text-white border-b border-gray-700 focus:outline-none focus:ring-2 focus:ring-twd-primary-purple;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
